/* *,
*::before,
*::after {
    box-sizing: border-box;
}

*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-skyblue: #659bff;
    --clr-beige: #e6d9d0;
    --clr-tan: #dbcfbf;
    --clr-light-brown: #cbbaab;
    --clr-taupe: #c3b9b2;
    --clr-brown: #afa094;
    --clr-dark-grey: #303030;
}

img {
    width: 100%;  /* stretch the image to fill the container horizontally */
    height: auto;  /* keep the original aspect ratio of the image */
    object-fit: cover;  /* stretch the image to fill the container horizontally and vertically */
  }
  
body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-taupe);
  }

.section {
    position: relative;
    top: 100%;
}

.navbar {
    overflow: hidden;
    background-color: var(--clr-skyblue);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    color: var(--clr-dark-grey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--ff-primary);
    font-size: 17px;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: var(--clr-beige);
    color: var(--clr-dark-grey);
  }
  

.landing-page {
    width: 80%;
    margin-top: 10em;
}

.landing-page img {
    position: absolute;
    margin-top: 10em;
    top: 0;
    left: 7em;
    width: 15vw;
    height: 15vw;
    float: left;
    z-index: 0;
    display: block;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.text {
    float: left;
    position: absolute; 
    margin-top: 11vw; 
    top: 0; 
    left: 28vw;
    width: 100%; 
    height: 100%;
    color: var(--clr-dark-grey);
}

.text p {
    font-size: 1vw;
    font-family: var(--ff-secondary);
}

.text h1 {
    font-size: 2vw;
    font-family: var(--ff-primary);
}

.btnalt {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-dark-grey);
    color: var(--clr-beige);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.mobile {
    display: none;
}

@media (max-width: 1000px) {
    
    .landing-page {
        text-align: center;
    }
    .landing-page img {
        width: 30vw;
        height: 30vw;
        float: none;
        left: 0;
        margin-top: 38vw;
        margin-left: 20.5em;
    }
    .text {
        margin-top: 70vw;
        float: none;
        width: 100%;
        left: 0;
    }
    .text p {
        font-size: 3.2vw;
    }
    .text h1 {
        font-size: 8vw;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}